@media (min-width: 320px) and (max-width: 480px) {
    #body {
        width: 100%;
    }

    /*Nav bar*/
    nav {
        position: fixed;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 60px;
        background-color: #1e272e;
        font-family: 'Roboto', sans-serif;
    }

    nav ul {
        margin: 0 auto;
        margin-top: 18px;
    }

    nav ul li span {
        color: #fff;
        font-size: 3vh;
    }

    /*Nav bar*/

    /*Go up! button*/
    .goUp {
        color: orange;
        position: fixed;
        font-size: 30px;
        margin-left: 3vh;
        margin-top: 45vh;
    }

    .goUp p {
        margin-left: -1.4vh;
        margin-top: -1vh;
    }

    .goUp i {
        color: orange;
    }


    /*Go up! button*/

    /*Containers*/
    .mainContainer {
        display: flex;
        flex-direction: column;
        margin-top: -5vh;
    }

    .container1,
    .container2,
    .container3,
    .container4 {
        border: 1px solid #1e272e;
        border-radius: 10px;
        width: 240px;
        height: 215px;
        margin: 0 auto;
    }

    .day {
        color: #fff;
        font-size: 25px;
    }

    .container1 .day {
        margin-top: 1vh;
        text-align: center;
    }

    .container2 {
        margin-top: 10vh;
    }

    .container2 .day {
        margin-top: 4vh;
        text-align: center;
    }

    .container3 {
        margin-top: 10vh;
    }

    .container3 .day {
        text-align: center;
    }

    .container4 {
        margin-top: 10vh;
    }

    .container4 .day {
        margin-top: 3vh;
        text-align: center;
    }

    .offDay {
        display: none;
    }

    .exercises {
        color: #fff;
        font-size: 14px;
        margin-left: 1.5vh;
    }

    /*Containers*/

    /*ContainerOfDetails*/
    .details {
        width: 99.6%;
        height: 1919vh;
        margin-top: 15vh;
        border: 1px solid grey;
    }

    h1 {
        font-size: 40px;
        color: #fff;
        text-align: center;
        margin-top: 15vh;
    }


    .information {
        color: #e74c3c;
        margin-top: 2vh;
        font-size: 14px;
        text-align: center;
    }

    .LeftSide h2,
    .RightSide h2 {
        font-size: 6vh;
        color: #fff;
    }

    .LeftSide p,
    .RightSide p {
        font-size: 18px;
        color: #fff;
        padding: 2vh 2vh;
    }

    .LeftSide img,
    .RightSide img {
        width: 40vh;
    }

    #Day1 {
        height: 380vh;
    }

    #Day1 .LeftSide {
        margin-top: -12vh;
    }

    #Day1 .RightSide {
        float: left;
        margin-top: -2vh;
    }

    #Day2 {
        height: 315vh;
    }

    #Day2 .LeftSide {
        margin-top: -12vh;
    }

    #Day2 .RightSide {
        float: left;
        margin-top: -2vh;
    }

    #Day3 {
        height: 375vh;
    }

    #Day3 .LeftSide {
        margin-top: -12vh;
    }

    #Day3 .RightSide {
        float: left;
        margin-top: -2vh;
    }

    #Day4 {
        height: 365vh;
    }


    #Day4 .LeftSide {
        margin-top: -12vh;
    }

    #Day4 .RightSide {
        float: left;
        margin-top: -2vh;
    }

    .FirstExercises,
    .SecondExercises,
    .ThirdExercises,
    .FourthExercises,
    .FifthExercises,
    .SixthExercises {
        margin-top: 12vh;
    }

    /*ContainerOfDetails*/
}

/*Telephone*/