* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000;
}

/*Nav bar*/
nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: #1e272e;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    margin: 0 auto;
    margin-top: 12px;
}

nav ul li span {
    color: #fff;
    font-size: 7vh;
}

/*Nav bar*/

/*Go up! button*/
.goUp {
    color: orange;
    position: fixed;
    font-size: 30px;
    margin-left: 6vh;
    margin-top: 59vh;
}

.goUp p {
    margin-left: -2.5vh;
    margin-top: -1.5vh;
}

.goUp i {
    color: orange;
}

.goUp i:hover,
.goUp p:hover {
    transition: .6s;
    color: royalblue;
    transform: translateY(-2px);
}

/*Go up! button*/

/*Containers*/
.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.container1,
.container2,
.container3,
.container4 {
    border: 1px solid #1e272e;
    border-radius: 10px;
    width: 280px;
    height: 250px;
}

.day {
    color: #fff;
    font-size: 25px;
}

.container1 .day {
    text-align: center;
}

.container2 .day {
    margin-top: 7vh;
    text-align: center;
}

.container3 .day {
    text-align: center;
}

.container4 .day {
    text-align: center;
    margin-top: 7vh;
}

.exercises {
    color: #fff;
    font-size: 16px;
    margin-left: 1.5vh;
}

/*Containers*/

/*ContainerOfDetails*/
.details {
    width: 99.9%;
    height: 419vh;
    margin-top: 35vh;
    border: 1px solid grey;
}

h1 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-top: 15vh;
}


.information {
    color: #e74c3c;
    margin-top: 5vh;
    text-align: center;
}

.LeftSide h2,
.RightSide h2 {
    padding: 0vh 2vh;
    font-size: 8vh;
    color: #fff;
}

.LeftSide p,
.RightSide p {
    font-size: 18px;
    color: #fff;
    padding: 2vh 2vh;
}

.LeftSide img,
.RightSide img {
    margin-left: 2vh;
    width: 100vh;
}

#Day1 {
    height: 380vh;
}

#Day1 .RightSide {
    margin-right: 2vh;
    float: right;
    margin-top: -345vh;
}

#Day2 {
    height: 290vh;
}

#Day2 .RightSide {
    margin-right: 2vh;
    float: right;
    margin-top: -255vh;
}

#Day2 .SecondExercises h2 {
    font-size: 40px;
}

#Day2 .SixthExercises h2 {
    font-size: 40px;
}

#Day3 {
    height: 350vh;
}

#Day3 .RightSide {
    margin-right: 2vh;
    float: right;
    margin-top: -300vh;
}

#Day3 .FourthExercises h2 {
    font-size: 40px;
}

#Day3 .SixthExercises h2 {
    font-size: 40px;
}

#Day4 {
    height: 295vh;
}

#Day4 .RightSide {
    margin-right: 2vh;
    float: right;
    margin-top: -256vh;
}

#Day4 .SixthExercises h2 {
    font-size: 40px;
}

.FirstExercises,
.SecondExercises,
.ThirdExercises,
.FourthExercises,
.FifthExercises,
.SixthExercises,
.SeventhExercises {
    margin-top: 10vh;
}

/*ContainerOfDetails*/