* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000;
}

/*Nav bar*/
nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: #1e272e;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    margin: 0 auto;
    margin-top: 12px;
}

nav ul li span {
    color: #fff;
    font-size: 7vh;
}

/*Nav bar*/

/*Go up! button*/
.goUp {
    color: orange;
    position: fixed;
    font-size: 30px;
    margin-left: 6vh;
    margin-top: 59vh;
}

.goUp p {
    margin-left: -2.5vh;
    margin-top: -1.5vh;
}

.goUp i {
    color: orange;
}

.goUp i:hover,
.goUp p:hover {
    transition: .6s;
    color: royalblue;
    transform: translateY(-2px);
}

/*Go up! button*/

/*Exercises*/
.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.firstContainer,
.secondContainer,
.thirdContainer,
.fourthContainer,
.fifthContainer {
    border: 1px solid grey;
    border-radius: 8px;
    width: 40vh;
    height: 44vh;
}

.firstContainer p,
.secondContainer p,
.thirdContainer p,
.fourthContainer p,
.fifthContainer p {
    color: #fff;
}

.dayInfo {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: 2vh;
}

.dayInfo span {
    font-size: 18px;
}

/*Exercises*/

/*containerOfDetails*/
.details {
    width: 99.9%;
    height: 419vh;
    margin-top: 35vh;
    border: 1px solid grey;
}

h1 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-top: 15vh;
}

.leftSide h2,
.rightSide h2 {
    padding: 0vh 2vh;
    font-size: 7vh;
    color: #fff;
    margin-top: 13vh;
}

.leftSide span,
.rightSide span {
    font-size: 4vh;
}

.leftSide img,
.rightSide img {
    margin-left: 2vh;
    margin-right: 2vh;
    width: 100vh;
}

#Day1 {
    height: 310vh;
}

#Day1 .rightSide {
    float: right;
    margin-top: -280vh;
}

#Day2 {
    height: 410vh;
}

#Day2 .rightSide {
    float: right;
    margin-top: -385vh;
}

#Day3 {
    height: 290vh;
}

#Day3 .rightSide {
    float: right;
    margin-top: -263vh;
}

#Day4 {
    height: 430vh;
}

#Day4 .rightSide {
    float: right;
    margin-top: -403vh;
}

#Day5 {
    height: 390vh;
}

#Day5 .sixthExercise h2 {
    font-size: 5.5vh;
}

#Day5 .rightSide {
    float: right;
    margin-top: -364vh;
}

/*containerOfDetails*/